---
Language: Cpp
BasedOnStyle: Google
Standard: c++17
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -3
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<.*\.h>$'
    Priority:        1
  - Regex:           '^<.*>$'
    Priority:        2
  - Regex:           '^".*"$'
    Priority:        3
SpaceBeforeParens: ControlStatements
FixNamespaceComments: true
